<div class="container p-4">
    <div class="card mb-3">
        <div class="card-body">
            <form class="row g-3" action="/extra" method="POST">
                <div class="row g-2">
                    <div class="col mx-auto">
                        <div class="card m-1">
                            <div class="card-body">
                                <h4 class="card-title">Legajo del alumno</h4>
                                <hr>
                                {{!-- libro/folio legajo/año --}}
                                
                                    <div class="row g-2">
                                        <div class="col">
                                            <label>Libro</label>
                                            <input type="text" class="form-control" name="libro" id="libro" placeholder="2"
                                                autofocus>
                                        </div>

                                        <div class="col">
                                            <label>Folio</label>
                                            <input type="text" class="form-control" name="folio" id="folio"
                                                placeholder="999">
                                        </div>
                                        <div class="col">
                                            <label>N° legajo</label>
                                            <input type="text" class="form-control" name="legajo" id="legajo"
                                                placeholder="001">
                                        </div>

                                        <div class="col">
                                            <label class="text-center">Año</label>
                                            <input type="text" class="form-control" name="ano" id="ano" placeholder="22">
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                        <div class="card m-1">
                            <div class="card-body">
                                <div class="col mx-auto">
                                    <h4>Trayectoria dentro del establecimiento</h4>
                                    <hr>
                                    <div class="input-group mb-4">
                                        <label class="input-group-text" for="curso">Curso</label>
                                        <select class="form-select" type="text" id="curso" name="curso">
                                            <option selected></option>
                                            <option value="1A">1A</option>
                                            <option value="1B">1B</option>
                                            <option value="1C">1C</option>
                                            <option value="2A">2A</option>
                                            <option value="2B">2B</option>
                                            <option value="2C">2C</option>
                                            <option value="3A">3A</option>
                                            <option value="3B">3B</option>
                                            <option value="3C">3C</option>
                                            <option value="4A">4A</option>
                                            <option value="4B">4B</option>
                                            <option value="4C">4C</option>
                                            <option value="5A">5A</option>
                                            <option value="5B">5B</option>
                                            <option value="5C">5C</option>
                                            <option value="TY">Proy. de aceleración</option>
                                        </select>
                                        <label class="input-group-text" for="año">Año</label>
                                        <select class="form-select" type="text" id="anio" name="anio">
                                            <option selected></option>
                                            <option value="2013">2013</option>
                                            <option value="2014">2014</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                        </select>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary ">Agregar</button>
                                        </div>
                                    </div>
                                    <table class="table table-hover table-sm caption-top align-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">2022</th>                                          
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{!-- ACA VA UN {{#each}} --}}
                                            <tr>
                                                <td>1A</td>
                                            </tr>
                                            {{!-- {} --}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h4>Tránsito por el establecimiento</h4>
                                <hr>
                                <div class="row g-1">
                                    {{!-- origen/fechaIngreso/salida/fechaSalida/SITUACION/observaciones --}}
                                    <div class="row">
                                        <div class="col">
                                            <label class="text-center">Ingreso</label>
                                            <input type="text" class="form-control" name="origen" id="origen"
                                                placeholder="C.P.E.S N°7">
                                        </div>
                                        <div class="col">
                                            <label class="text-center">Fecha de ingreso</label>
                                            <input type="date" class="form-control" name="fechaIngreso" id="fechaIngreso">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <label class="text-center">Salida</label>
                                            <input type="text" class="form-control" name="salida" id="salida"
                                                placeholder="AUSTRO">
                                        </div>
                                        <div class="col">
                                            <label class="text-center">Fecha de salida</label>
                                            <input type="date" class="form-control" name="fechaSalida" id="fechaSalida">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label class="text-center">Motivo</label>
                                            <select class="form-select" type="text" id="situacion" name="situacion">
                                                <option selected>Seleccionar</option>
                                                <option value="pase">Pase</option>
                                                <option value="egreso">Egreso</option>
                                                <option value="baja">Baja</option>
                                                <option value="noReinscribe">No reinscribe</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label class="text-center"></label>
                                            <textarea class="form-control" placeholder="observaciones"
                                                id="observaciones"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-2">
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary ">Guardar cambios</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>