<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="img/logoEscuela.png" class="w-50 p-3" alt="Normal N°1 - Puerto Loyola">            
            <h3 class="mb-5">                
                <em>Sistema de registro de Alumnos</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Ingresar</a>
            <a class="btn btn-secondary btn-lg" href="/register" role="button">Registrarse</a>
        </div>
        <div class="overlay"></div>
    </header>
</main>