<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto position-absolute top-50 start-50 translate-middle">
            <h3>
                <em>Sistema de registro de Alumnos</em>
            </h3>
            <img src="img/logoEscuelaSm.png" class="w-40 p-3 rounded mx-auto d-block" alt="Normal N°1 - Puerto Loyola">
            <a class="btn btn-primary btn-lg" href="/login" role="button">Ingresar</a>
            <a class="btn btn-secondary btn-lg" href="/register" role="button">Registrarse</a>
        </div>
    </header>
</main>